.cartContainer {
  display: grid;
  max-width: 1240px;
  grid-template-columns: auto auto;
  grid-template-rows: 50px;
  justify-content: center;
  margin: 1rem;
  gap: 4rem;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tableContent {
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px;
  color: #001326;
  animation: ease-in-out;
  padding: 1rem;
}

.cart-titles {
  color: black;
  word-spacing: 1rem;
}

.totalPrice {
  height: 160px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px;
  animation: ease-in-out;
  color: #001326;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: 2rem;
  right: 4rem;
  width: 1.1rem;
  height: 1.1rem;
  background: #5ca5d3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
