.containerHome {
  background-image: url("https://olafurarnalds.com/assets/images/hero-skop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.homeC {
  height: 100px;
}

.homeGrids {
  display: grid;
  grid-template-columns: auto;
  height: 700px;
}

.hoverNewAlbum:hover {
  color: white;
}

@media screen and (max-width: 375px) {
  .containerHome {
    background-size: 370%;
  }
  h1 {
    font-size: 1.4rem;
  }
  .homeGrids {
    grid-template-columns: auto;
  }
  .homeC {
    height: 40rem;
  }
}
