@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*Variables colores*/
:root {
  --first-color: #001326;
  --second-color: #79c6e7;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Montserrat";
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

.navLink:hover {
  color: var(--second-color);
}

.navLink {
  color: white;
  text-decoration: none;
}
