.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
  column-gap: 5px;
}

@media (max-width: 320px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    max-width: 320px;
    margin: auto;
    gap: 1.3rem;
  }
}

@media (max-width: 425px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
    max-width: 320px;
    margin: auto;
    gap: 1.3rem;
  }
}

.footer {
  padding: 0.5rem;
  color: grey;
  box-shadow: 0 5px 8px 0 rgb(0, 19, 38, 0.1), 0 7px 20px;
  bottom: 0;
  width: auto;
}
